// Name:            Auth
// Description:     Component to create horizontal sidebar
//
//
// ========================================================================

// Variables
// ========================================================================

@section-auth-padding-vertical:                   @global-medium-margin - 15px;
@section-auth-padding-vertical-m:                 @global-large-margin - 15px;

@auth-tile-background-color:                    #f5f6f9;

@wrapper-background-color:                      #f9fafc;

@strip-width:                                   78px;

@strip-margin-top:                              28px;


/* ========================================================================
   Component: Section
 ========================================================================== */


.pr-section-auth {
    padding-top: @section-auth-padding-vertical;
    padding-bottom: @section-auth-padding-vertical;
    background: linear-gradient(0deg, #d2dbe7, #dfe3ef)
}

/* Desktop and bigger */
@media (min-width: @breakpoint-medium) {

    .pr-section-auth {
        padding-top: @section-auth-padding-vertical-m;
        padding-bottom: @section-auth-padding-vertical-m;
    }

}

.pr-tile-auth {
    background-color: @auth-tile-background-color
}
