// Name:            Sidebar
// Description:     Component to create horizontal sidebar
//
//
// ========================================================================

// Variables
// ========================================================================

@sidebar-background-color:                      transparent;
@sidebar-item-color:                            #5e6b86;
@sidebar-border-radius:                         0 25px 25px 0;
@strip-border-radius:                           10px;
@pr-strip-border-radius:                        0 @strip-border-radius @strip-border-radius 0;
@strip-header-wrapper-border-radius:            20px;
@sidebar-header-container-border-radius:        @strip-header-wrapper-border-radius - 5px;

@wrapper-background-color:                      #161719;
@strip-header-padding:                          52px 0 0 0;
@wrapper-header-height:                         38px;
@wrapper-header-padding-right:                  22px;
@wrapper-header-padding-left:                   @wrapper-header-padding-right;
@wrapper-header-padding:                        52px @wrapper-header-padding-right 0 @wrapper-header-padding-left;
@strip-wrapper-header-padding:                  6px;

@strip-width:                                   78px;
@strip-background-color:                        @global-white-color;
@strip-margin:                                  0;
@strip-container-item-height:                   36px;
@strip-container-item-color:                    @sidebar-item-color;
@strip-container-item-font-size:                0.875rem;
@strip-container-transition-duration:           0.2s;
@sidebar-header-line-width:                     2px;
@sidebar-header-line-height:                    14px;
@sidebar-header-container-height:               40px;
@sidebar-header-container-width:                @sidebar-header-container-height;
@sidebar-header-placeholder-width:              @sidebar-header-container-width + 10px;
@sidebar-header-status-width:                   6px;
@sidebar-header-status-height:                  @sidebar-header-status-width;

@strip-margin-top:                              28px;
@strip-margin-bottom:                           0;
@container-margin:                              @strip-margin-top 22px;
@sidebar-wrapper-margin-left:                   @strip-width;
// may remove | may usable
//@container-padding:                             10px (@wrapper-header-padding-right + 0px) 10px (@wrapper-header-padding-left + 0px);
@container-padding:                             0;
@container-item-height:                         @strip-container-item-height;
@container-item-font-size:                      @strip-container-item-font-size;
@container-item-padding:                        10px 10px;
@container-item-border-radius:                  @sidebar-border-radius;
@container-item-hover-color:                    rgba(0, 0, 0, 0.1);
@container-item-hover-border-left-radius:       24px;
@sidebar-header-placeholder-right:              -23px;
@sidebar-header-placeholder-bottom:             -21px;
@sidebar-header-letter-right:                   @sidebar-header-placeholder-right - 3px;
@sidebar-header-letter-bottom:                  @sidebar-header-placeholder-bottom + 1px;

/* ========================================================================
   Component: Sidebar
 ========================================================================== */

/*
 * Main
 */

.pr-sidebar {
    background-color: @sidebar-background-color;
    color: @sidebar-item-color;
    position: fixed;
    left: 0;
    top: 0;
    width: @global-sidebar-width;
    height: @global-sidebar-height;
}

.pr-sidebar,
.pr-sidebar-container .uk-nav > li > a {
    box-sizing: border-box;
}

/*
 * Sidebar Radius
 */

.pr-sidebar {
    border-radius: @sidebar-border-radius;
}

/*
 * Make deference between wrapper and strip container
 */

.pr-sidebar-strip,
.pr-sidebar-strip-container {
    width: @strip-width;
}

/*
 * Create position relative for all sidebar elements
 * For their sub context
 */

.pr-sidebar-strip-container,
.pr-sidebar-wrapper,
.pr-sidebar-container,
.pr-sidebar-container .uk-nav > li,
.pr-sidebar-container .nav-activator > svg,
.pr-sidebar-strip-container > nav {
    position: relative;
}

/* Position
 * 1. Stick to bottom and top
 * 2. Spaces
 */

/* 1 */
.pr-sidebar-wrapper {
    height: 100%;
}

.pr-sidebar-strip,
.pr-sidebar-container .nav-activator {
    position: absolute;
}

/* 2 */
.pr-sidebar-strip-container {
    margin-top: @strip-margin-top;
    margin-bottom: @strip-margin-bottom;
}
.pr-sidebar-container {
    margin: @container-margin;
}


/* Sidebar Strip
 ========================================================================== */

/*
 * Strip
 * 1. Position
 * 2. Styles
 */

.pr-sidebar-strip {
    /* 1 */
    top: @strip-margin;
    bottom: @strip-margin;
    left: @strip-margin;
    /* 2 */
    background-color: @strip-background-color;
    border-radius: @pr-strip-border-radius;
}

/* Items
 * 1. Center content vertically, e.g. an icon
 * 2. Dimensions
 * 3. Miscellaneous
 */
.pr-sidebar-strip-container .uk-nav > li > a,
.pr-sidebar-strip-container nav > .uk-nav-item > a {
    position: relative;
    /* 1 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 2 */
    box-sizing: border-box;
    height: @strip-container-item-height;
    /* 3 */
    color: @strip-container-item-color;
    font-size: @strip-container-item-font-size;
    transition: @strip-container-transition-duration;
}

/*
 * Items icon and content
 * 1. Dimensions
 * 2. Center content vertically and horizontally
 * 3. Miscellaneous
 */
.pr-sidebar-strip-container .uk-nav > li > a > .uk-icon,
.pr-sidebar-strip-container nav > .uk-nav-item > a > .uk-icon {
    /* 1 */
    box-sizing: border-box;
    height: 36px;
    width: 36px;
    /* 2 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 3 */
    padding: 5px;
    font-size: 10px;
    font-weight: bolder;
    border-radius: 10px;
    transition: all @strip-container-transition-duration ease;
    background-color: transparent;
    //background-color: rgb(39, 133, 255);
}

/* 4 */
.pr-sidebar-strip-container .uk-nav > li {
    margin-bottom: 7px;
}

/* Active item style */
// may remove
.pr-sidebar-strip-container > nav .line {
    position: absolute;
    left: 0;
    width: 3px;
    background-color: #faf9fe;
    border-radius: 0 3px 3px 0;
}


/* Sidebar Container
 ========================================================================== */

/*
 * Wrapper
 * 1. Make difference between sidebar and strip
 * 2. Styles
 */
.pr-sidebar-wrapper {
    /* 1 */
    margin-left: @sidebar-wrapper-margin-left;
    /* 2 */
    background-color: @wrapper-background-color;
    border-radius: @pr-strip-border-radius;
}

.pr-sidebar-container {
    padding: @container-padding;
}

/*
 * Items
 * 1. Height like: Strip items height
 * 2. Same border radius from sidebar corners
 */
.pr-sidebar-container .uk-nav > li > a {
    height: @container-item-height; /* 1 */
    color: @sidebar-item-color;
    font-size: @container-item-font-size;
    padding: @container-item-padding;
    border-radius: @container-item-border-radius; /* 2 */
    transition: @strip-container-transition-duration;
}

/* Hover */
.pr-sidebar-container .uk-nav > li:not(.uk-active):hover > a {
    background-color: @container-item-hover-color;
}

/* Active */
.pr-sidebar-container .uk-nav > li.uk-active + li > a {
    border-top-left-radius: @container-item-hover-border-left-radius;
}


/* Sidebar Strip Header
 ========================================================================== */

/* Area
 * 1. Set both of strip and wrapper at top of sidebar
 * 2. Set area to fit in strip and sidebar container
 * 3. Position area from top
 */
.pr-sidebar-strip-header {
    /* 1 */
    box-sizing: border-box;
    /* 2 */
    width: 100%;
}

/* 3 */
.pr-sidebar-strip-header {
    padding: @strip-header-padding;
}

/* 3 */
.pr-sidebar-wrapper-header {
    min-height: @wrapper-header-height;
    padding: @wrapper-header-padding;
}

// we will set comment later
.pr-sidebar-strip-header-wrapper {
    position: relative;
    padding: @strip-wrapper-header-padding;
    border: @global-border-width solid @global-border-strip-color;
    border-radius: @strip-header-wrapper-border-radius
}

.pr-sidebar-header-line {
    position: absolute;
    top: @global-middle-transform-top;
    left: -1px;
    transform: @global-middle-transform;
    width: @sidebar-header-line-width;
    height: @sidebar-header-line-height;
    border-radius: @strip-border-radius
}

.pr-sidebar-strip-header-wrapper .pr-sidebar-header-line {
    background-color: darken(@global-primary-background, 10%)
}

.pr-sidebar-header-container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: @sidebar-header-container-border-radius;
    width: @sidebar-header-container-height;
    height: @sidebar-header-container-width
}

.pr-sidebar-strip-header-wrapper .pr-sidebar-header-container {
    background: #f9eee8;
}

.pr-sidebar-header-placeholder,
.pr-sidebar-header-letter,
.pr-sidebar-header-status {
    position: absolute;
}

.pr-sidebar-header-placeholder {
    right: @sidebar-header-placeholder-right;
    bottom: @sidebar-header-placeholder-bottom;
    width: @sidebar-header-placeholder-width;
    height: @sidebar-header-container-height;
    border-radius: 165%;
    transform: rotate(-127deg)
}

.pr-sidebar-strip-header-wrapper .pr-sidebar-header-placeholder {
    background-color: lighten(@wrapper-background-color, 2%);
}

.pr-sidebar-header-letter {
    right: @sidebar-header-letter-right;
    bottom: @sidebar-header-letter-bottom;
    width: @sidebar-header-container-width;
    height: @sidebar-header-container-height;
    text-align: left;
    font-size: 0.75rem; // 12px
    font-weight: 700
}

.pr-sidebar-strip-header-wrapper .pr-sidebar-header-letter {
    color: @global-white-color
}

.pr-sidebar-header-status {
    top: 2px;
    right: 2px;
    width: @sidebar-header-status-width;
    height: @sidebar-header-status-height;
    border-radius: 100%
}

.pr-sidebar-strip-header-wrapper .pr-sidebar-header-status {
    background-color: #6fcf96;
}

.pr-item-has-badge,
.pr-item-has-notification,
.pr-item-has-notification .uk-icon {
    position: relative;
}

.pr-item-has-notification .uk-icon::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 8px;
    right: 6px;
    width: 8px;
    height: 8px;
    background-color: #fe754b;
    border-radius: 100%;
    border: 2px solid @global-white-color
}

.pr-sidebar-stripbadge {
    position: absolute;
    top: 3px;
    right: 24px;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background-color: #fe754b;
    border-radius: 100%;
    border: 2px solid @global-white-color;
    font-size: 7px;
    color: @global-white-color;
    text-align: center;
    padding: 2px 4px;
}
