//
// Component: Variables
//
// ========================================================================

// ....
@uikit-less:                                    "uikit/src/less/components";
@font-path:                                     "/back-office/src/fonts";


// Global variables
// ========================================================================

@global-sidebar-width:                          301px;
@global-sidebar-height:                         100vh;


//
// Typography
//

@global-font-family: @global-font-family-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@global-font-size:                              16px;
@global-line-height:                            1.5;      // 24px

@global-2xlarge-font-size:                      2.625rem; // 42px
@global-xlarge-font-size:                       2rem;     // 32px
@global-large-font-size:                        1.5rem;   // 24px
@global-medium-font-size:                       1.25rem;  // 20px
@global-small-font-size:                        0.875rem; // 14px
@global-xsmall-font-size:                       0.8rem; // 14px

//
// Colors
//

@global-color:                                  #666;
@global-emphasis-color:                         #333;
@global-muted-color:                            #f8f7fb;

@global-link-color:                             #1e87f0;
@global-link-hover-color:                       #0f6ecd;

@global-inverse-color:                          #f8f7fb;
@global-muted-inverse-color:                    #f8f7fb;

//
// Backgrounds
//

@global-background:                             #f8f7fb;

@global-muted-background:                       #000;
@global-primary-background:                     #1e87f0;
@global-secondary-background:                   #222;

@global-success-background:                     #32d296;
@global-warning-background:                     #faa05a;
@global-danger-background:                      #f0506e;

//
// Borders
//

//
// Spacings
//

// Used in margin, section, list
@global-margin:                                 20px;
@global-xsmall-margin:                          5px;
@global-small-margin:                           10px;
@global-medium-margin:                          40px;
@global-large-margin:                           70px;
@global-xlarge-margin:                          140px;

// Used in grid, column, container, align, card, padding
@global-gutter:                                 30px;
@global-xsmall-gutter:                          12px;
@global-small-gutter:                           15px;
@global-medium-gutter:                          40px;
@global-large-gutter:                           70px;

//
// Controls
//

@global-control-xsmall-height:                   28px;

//
// Z-index
//

//
// Miscellaneous
//
@global-rounded-radius:                          25px;
