//
// Component: Animation
//
// ========================================================================


// Variables
// ========================================================================

@animation-duration:                            @animation-duration-var;
@animation-fade-duration:                       @animation-fade-duration-var;
@animation-stroke-duration:                     @animation-stroke-duration-var;
@animation-kenburns-duration:                   @animation-kenburns-duration-var;
@animation-fast-duration:                       @animation-fast-duration-var;

//@animation-slide-small-translate:               @animation-slide-small-translate-var;
//@animation-slide-medium-translate:              @animation-slide-small-translate-var;


// Miscellaneous
// ========================================================================

.hook-animation-misc() {}
