//
// Component: Badge
//
// ========================================================================


// Variables
// ========================================================================

@badge-size:                                    @badge-size;
@badge-padding-vertical:                        @badge-padding-vertical;
@badge-padding-horizontal:                      @global-xxsmall-gutter;
@badge-border-radius:                           @badge-border-radius;
@badge-background:                              @global-primary-background;
@badge-color:                                   @global-inverse-color;
@badge-font-size:                               @badge-font-size;


// Component
// ========================================================================

.hook-badge() {}

.hook-badge-hover() {}


// Miscellaneous
// ========================================================================

.hook-badge-misc() {}


// Inverse
// ========================================================================

.hook-inverse-badge() {}
.hook-inverse-badge-hover() {}
