//
// Component: Base
//
// ========================================================================

// Variables
// ========================================================================

@base-body-background:                          @global-background;
@base-body-font-family:                         @global-font-family;
@base-body-font-weight:                         normal;
@base-body-font-size:                           @global-font-size;
@base-body-line-height:                         @global-line-height;
@base-body-color:                               @global-color;

@base-link-color:                               @global-link-color;
@base-link-text-decoration:                     var(--base-link-text-decoration);
@base-link-hover-color:                         @global-link-hover-color;
@base-link-hover-text-decoration:               var(--base-link-hover-text-decoration);

@base-strong-font-weight:                       var(--base-strong-font-weight);
@base-code-font-size:                           @global-small-font-size;
@base-code-font-family:                         Consolas, monaco, monospace;
@base-code-color:                               @global-danger-background;
@base-em-color:                                 @global-danger-background;
@base-ins-background:                           var(--base-ins-background);
@base-ins-color:                                @global-color;
@base-mark-background:                          var(--base-mark-background);
@base-mark-color:                               @global-color;
@base-quote-font-style:                         var(--base-quote-font-style);
@base-small-font-size:                          var(--base-small-font-size);

@base-margin-vertical:                          @global-margin;

@base-heading-font-family:                      var(--base-heading-font-family);
@base-heading-font-weight:                      var(--base-heading-font-weight);
@base-heading-color:                            @global-emphasis-color;
@base-heading-text-transform:                   var(--base-heading-text-transform);
@base-heading-margin-top:                       @global-medium-margin;
@base-h1-font-size-m:                           var(--base-h1-font-size-m);
@base-h1-font-size:                             var(--base-h1-font-size);
@base-h1-line-height:                           var(--base-h1-line-height);
@base-h2-font-size-m:                           var(--base-h2-font-size-m);
@base-h2-font-size:                             var(--base-h2-font-size);
@base-h2-line-height:                           var(--base-h2-line-height);
@base-h3-font-size:                             var(--base-h3-font-size);
@base-h3-line-height:                           var(--base-h3-line-height);
@base-h4-font-size:                             var(--base-h4-font-size);
@base-h4-line-height:                           var(--base-h4-line-height);
@base-h5-font-size:                             var(--base-h5-font-size);
@base-h5-line-height:                           var(--base-h5-line-height);
@base-h6-font-size:                             var(--base-h6-font-size);
@base-h6-line-height:                           var(--base-h6-line-height);

@base-list-padding-left:                        var(--base-list-padding-left);

@base-hr-margin-vertical:                       @global-margin;
@base-hr-border-width:                          @global-border-width;
@base-hr-border:                                @global-border;

@base-blockquote-font-size:                     @global-medium-font-size;
@base-blockquote-line-height:                   var(--base-blockquote-line-height);
@base-blockquote-font-style:                    italic;
@base-blockquote-margin-vertical:               @global-margin;
@base-blockquote-footer-margin-top:             @global-small-margin;
@base-blockquote-footer-font-size:              @global-small-font-size;
@base-blockquote-footer-line-height:            var(--base-blockquote-footer-line-height);

@base-pre-font-size:                            @global-small-font-size;
@base-pre-line-height:                          var(--base-pre-line-height);
@base-pre-font-family:                          var(--base-code-font-family);
@base-pre-color:                                @global-color;

@base-focus-outline-width:                      var(--base-focus-outline-width);
@base-focus-outline-style:                      var(--base-focus-outline-style);
@base-focus-outline:                            var(--base-focus-outline);
@base-focus-outline-offset:                     var(--base-focus-outline-offset);

@base-selection-background:                     var(--base-selection-background);
@base-selection-color:                          var(--base-selection-color);

//
// New
//

@base-code-padding-horizontal:                  var(--base-code-padding-horizontal);
@base-code-padding-vertical:                    var(--base-code-padding-vertical);
@base-code-background:                          @global-muted-background;

@base-blockquote-color:                         @global-emphasis-color;

@base-blockquote-footer-color:                  @global-color;

@base-pre-padding:                              var(--base-pre-padding);
@base-pre-background:                           @global-background;
@base-pre-border-width:                         @global-border-width;
@base-pre-border:                               @global-border;
@base-pre-border-radius:                        var(--base-pre-border-radius);

// Body
// ========================================================================

.hook-base-body() {
}

// Links
// ========================================================================

.hook-base-link() {
}

.hook-base-link-hover() {
}

// Text-level semantics
// ========================================================================

.hook-base-code() {
  padding: @base-code-padding-vertical @base-code-padding-horizontal;
  background: @base-code-background;
}

// Headings
// ========================================================================

.hook-base-heading() {
}

.hook-base-h1() {
}

.hook-base-h2() {
}

.hook-base-h3() {
}

.hook-base-h4() {
}

.hook-base-h5() {
}

.hook-base-h6() {
}

// Horizontal rules
// ========================================================================

.hook-base-hr() {
}

// Blockquotes
// ========================================================================

.hook-base-blockquote() {
  color: @base-blockquote-color;
}

.hook-base-blockquote-footer() {
  color: @base-blockquote-footer-color;

  &::before {
    content: '— ';
  }
}

// Preformatted text
// ========================================================================

.hook-base-pre() {
  padding: @base-pre-padding;
  border: @base-pre-border-width solid @base-pre-border;
  border-radius: @base-pre-border-radius;
  background: @base-pre-background;
}

// Miscellaneous
// ========================================================================

.hook-base-misc() {
}

// Inverse
// ========================================================================

@inverse-base-color:                           @inverse-global-color;
@inverse-base-link-color:                      @inverse-global-emphasis-color;
@inverse-base-link-hover-color:                @inverse-global-emphasis-color;
@inverse-base-code-color:                      @inverse-global-color;
@inverse-base-em-color:                        @inverse-global-emphasis-color;
@inverse-base-heading-color:                   @inverse-global-emphasis-color;
@inverse-base-hr-border:                       @inverse-global-border;
@inverse-base-focus-outline:                   @inverse-global-emphasis-color;

//
// New
//

@inverse-base-blockquote-color:                @inverse-global-emphasis-color;
@inverse-base-blockquote-footer-color:         @inverse-global-color;

.hook-inverse-base-link() {
}
.hook-inverse-base-link-hover() {
}

.hook-inverse-base-code() {
  background: @inverse-global-muted-background;
}

.hook-inverse-base-heading() {
}

.hook-inverse-base-h1() {
}
.hook-inverse-base-h2() {
}
.hook-inverse-base-h3() {
}
.hook-inverse-base-h4() {
}
.hook-inverse-base-h5() {
}
.hook-inverse-base-h6() {
}

.hook-inverse-base-blockquote() {
  color: @inverse-base-blockquote-color;
}
.hook-inverse-base-blockquote-footer() {
  color: @inverse-base-blockquote-footer-color;
}

.hook-inverse-base-hr() {
}
