//
// Component: Icon
//
// ========================================================================

// Variables
// ========================================================================

@icon-image-size:                           var(--icon-image-size);

@icon-link-color:                           @global-muted-color;
@icon-link-hover-color:                     @global-color;
@icon-link-active-color:                    var(--icon-link-active-color);

@icon-button-size:                          var(--icon-button-size);
@icon-button-border-radius:                 @global-border-radius;
@icon-button-background:                    var(--icon-button-background);
@icon-button-color:                         @global-muted-color;

@icon-button-hover-background:              var(--icon-button-hover-background);
@icon-button-hover-color:                   @global-color;

@icon-button-active-background:             var(--icon-button-active-background);
@icon-button-active-color:                  @global-color;

//
// New
//

@icon-primary-color:                        @global-icon-primary-color;
@icon-secondary-color:                      @global-icon-secondary-color;
@icon-tertiary-color:                       @global-icon-tertiary-color;
@icon-quaternary-color:                     @global-icon-quaternary-color;

@icon-duotone-primary:                      @global-icon-duotone-primary-color;
@icon-duotone-secondary:                    @global-icon-duotone-secondary-color;
@icon-duotone-secondary-opacity:            @global-icon-duotone-secondary-opacity;

@icon-bulk-primary:                         @global-icon-bulk-primary-color;
@icon-bulk-secondary:                       @global-icon-bulk-secondary-color;
@icon-bulk-secondary-opacity:               @global-icon-bulk-secondary-opacity;

@icon-favourite-color:                      @global-icon-favourite-color;
@icon-favourite-color-tertiary:             var(--icon-favourite-color-tertiary);

@icon-iconoir-fill:                         var(--icon-iconoir-fill);
@icon-iconoir-stroke:                       var(--icon-iconoir-stroke);
@icon-iconoir-stroke-width:                 var(--icon-iconoir-stroke-width);
@icon-iconoir-stroke-linecap:               var(--icon-iconoir-stroke-linecap);
@icon-iconoir-stroke-linejoin:              var(--icon-iconoir-stroke-linejoin);

@icon-lucide-fill:                          var(--icon-lucide-fill);
@icon-lucide-stroke:                        var(--icon-lucide-stroke);
@icon-lucide-stroke-width:                  var(--icon-lucide-stroke-width);
@icon-lucide-stroke-linecap:                var(--icon-lucide-stroke-linecap);
@icon-lucide-stroke-linejoin:               var(--icon-lucide-stroke-linejoin);

// Style modifiers
// ========================================================================

.hook-icon-misc() {
  // Monochrome Icon Styles
  // ========================================================================

  // main colors: monochrome
  .pr-icon-primary {
    fill: @icon-primary-color;
  }

  .pr-icon-secondary {
    fill: @icon-secondary-color;
  }

  .pr-icon-tertiary {
    fill: @icon-tertiary-color;
  }

  .pr-icon-quaternary {
    fill: @icon-quaternary-color;
  }

  // duotone
  .pr-icon-duotone-primary:not(.uk-preserve) {
    fill: @icon-duotone-primary;
  }

  .pr-icon-duotone-primary-stroke {
    stroke: @icon-duotone-primary;
  }

  .pr-icon-duotone-secondary:not(.uk-preserve) {
    fill: @icon-duotone-secondary;
  }

  .pr-icon-duotone-secondary-stroke {
    stroke: @icon-duotone-primary;
  }

  .pr-icon-duotone-secondary,
  .pr-icon-duotone-secondary-stroke {
    opacity: @icon-duotone-secondary-opacity;
  }

  // bulk
  .pr-icon-bulk-primary {
    fill: @icon-bulk-primary;
  }

  .pr-icon-bulk-secondary:not(.uk-preserve) {
    fill: @icon-bulk-secondary;
    opacity: @icon-bulk-secondary-opacity;
  }

  .pr-icon-bulk-secondary {
    opacity: @icon-bulk-secondary-opacity;
  }

  // may change
  .pr-icon-favourite [class*='pr-icon-'] {
    fill: @icon-favourite-color;
  }

  // Golden Style
  .pr-icon-favourite .pr-icon-tertiary {
    fill: @icon-favourite-color-tertiary;
  }


  // Iconoir Icon Styles: we can change the stroke-width of icons with css for this set of icons
  // ========================================================================
  .pr-icon-iconoir {
    fill: @icon-iconoir-fill;
    stroke: @icon-iconoir-stroke;
    stroke-width: @icon-iconoir-stroke-width;
    stroke-linecap: @icon-iconoir-stroke-linecap;
    stroke-linejoin: @icon-iconoir-stroke-linejoin;
  }


  // Lucide Icon Styles: we can change the stroke-width of icons with css for this set of icons
  // ========================================================================
  .pr-icon-lucide {
    fill: @icon-lucide-fill;
    stroke: @icon-lucide-stroke;
    stroke-width: @icon-lucide-stroke-width;
    stroke-linecap: @icon-lucide-stroke-linecap;
    stroke-linejoin: @icon-lucide-stroke-linejoin;
  }
}

//
// Link
//

.hook-icon-link() {
}

.hook-icon-link-hover() {
}

.hook-icon-link-active() {
}

//
// Button
//

.hook-icon-button() {
  transition: 0.1s ease-in-out;
  transition-property: color, background-color;
}

.hook-icon-button-hover() {
}

.hook-icon-button-active() {
}

// Miscellaneous
// ========================================================================

.hook-icon-misc() {
  // Fill Icon Instead Button
  // ========================================================================

  [class*='pr-fill-instead'] {
    background-color: transparent;
  }

  //
  // Styles
  //

  .pr-fill-instead-primary > * {
    background-color: @button-primary-background;
    color: @button-primary-color;
  }

  .pr-fill-instead-primary:hover > * {
    background-color: @button-primary-hover-background;
    color: @button-primary-hover-color;
  }

  .pr-fill-instead-primary:active > * {
    background-color: @button-primary-active-background;
    color: @button-primary-active-color;
  }
}

// Inverse
// ========================================================================

@inverse-icon-link-color:                      @inverse-global-muted-color;
@inverse-icon-link-hover-color:                @inverse-global-color;
@inverse-icon-link-active-color:               @inverse-global-color;
@inverse-icon-button-background:               @inverse-global-muted-background;
@inverse-icon-button-color:                    @inverse-global-muted-color;
@inverse-icon-button-hover-background:         rgb(from @inverse-icon-button-background r g b / ~'calc(alpha + 0.05)');     // instead of: fadein(@inverse-icon-button-background, 5%);
@inverse-icon-button-hover-color:              @inverse-global-color;
@inverse-icon-button-active-background:        rgb(from @inverse-icon-button-background r g b / ~'calc(alpha + 0.1)');      // instead of: fadein(@inverse-icon-button-background, 10%);
@inverse-icon-button-active-color:             @inverse-global-color;

//
// Style modifiers | may remove
//

.hook-inverse() {
  .pr-icon-primary {
    color: @global-icon-primary-color-light;
  }

  .pr-icon-secondary {
    color: @global-icon-secondary-color-light;
  }

  .pr-icon-tertiary {
    color: @global-icon-tertiary-color-light;
  }

  .pr-icon-quaternary {
    color: @global-icon-quaternary-color-light;
  }
}

.hook-inverse-icon-link() {
}
.hook-inverse-icon-link-hover() {
}
.hook-inverse-icon-link-active() {
}

.hook-inverse-icon-button() {
}
.hook-inverse-icon-button-hover() {
}
.hook-inverse-icon-button-active() {
}