//
// Component: Inverse
//
// ========================================================================

// Variables
// ========================================================================

@inverse-global-color-mode:                     light;

@inverse-global-color:                          fade(@global-inverse-color, 70%);
@inverse-global-emphasis-color:                 @global-inverse-color;
@inverse-global-muted-color:                    fade(@global-inverse-color, 50%);
@inverse-global-inverse-color:                  @global-color;

@inverse-global-primary-background:             @global-inverse-color;
@inverse-global-muted-background:               fade(@global-inverse-color, 10%);

@inverse-global-border:                         fade(@global-inverse-color, 20%);

@inverse-global-color-mode: light;

@inverse-global-color: @global-inverse-color;
@inverse-global-emphasis-color: @global-inverse-color;
@inverse-global-muted-color: fade(@global-inverse-color, 55%);
@inverse-global-inverse-color: #858687;
@inverse-global-secondary-background: #3c4041;

@inverse-global-primary-background: @global-inverse-color;
@inverse-global-muted-background: fade(@global-muted-background, 10%);

@inverse-global-border: fade(@global-muted-background, 8%);

@inverse-global-icon-primary-color: #ffffff;
@inverse-global-icon-secondary-color: @global-primary-background;
@inverse-global-icon-tertiary-color: #747474;
@inverse-global-icon-quaternary-color: @global-primary-background;

@global-icon-primary-color-light: @global-white-color;
@global-icon-secondary-color-light: #999999;
@global-icon-tertiary-color-light: #747474;
@global-icon-quaternary-color-light: #595959;

@global-icon-primary-color-muted: @global-white-color;
@global-icon-secondary-color-muted: darken(@global-white-color, 25%);
@global-icon-tertiary-color-muted: darken(@global-white-color, 35%);
@global-icon-quaternary-color-muted: darken(@global-white-color, 45%);

/* ========================================================================
   Component: Inverse
 ========================================================================== */

/*
 * Implemented class depends on the general theme color
 * `uk-light` is for light colors on dark backgrounds
 * `uk-dark` is or dark colors on light backgrounds
 */

.pr-light when (@inverse-global-color-mode = light) {
  .hook-pr-inverse();
}

.pr-dark when (@inverse-global-color-mode = dark) {
  .hook-pr-inverse();
}

// Hooks
// ========================================================================

.hook-inverse() {
}

.hook-pr-inverse() {
}
