//
// Component: Spinner
//
// ========================================================================

// Variables
// ========================================================================

@spinner-size:                                  30px;
@spinner-stroke-width:                          1;
@spinner-radius:                                floor(((@spinner-size - @spinner-stroke-width) / 2)); // Minus stroke width to prevent overflow clipping
@spinner-circumference:                         round(2 * 3.141 * @spinner-radius);
@spinner-duration:                              1.4s;

@pr-spinner-line-gutter: @global-xxsmall-gutter - 1px;
@pr-spinner-line-height: @pr-spinner-line-width;
@pr-spinner-line-width: @global-spinner-width - @pr-spinner-line-gutter;
@pr-spinner-line-item-height: 100%;
@pr-spinner-line-item-width: @pr-spinner-line-gutter;
@pr-spinner-circle-height: @global-spinner-height;
@pr-spinner-circle-width: @global-spinner-width;
@pr-spinner-circle-item-width: 3px;

@pr-spinner-line-color: darken(@global-white-color, 5%);
@pr-spinner-circle-color: @global-white-color;
@pr-spinner-circle-color-fade: fade(@pr-spinner-circle-color, 60%);

@pr-spinner-line-item-border-radius: 4px;

@pr-spinner-line-animation-duration: 0.6s;
@pr-spinner-circle-animation-duration: @pr-spinner-line-animation-duration;

// Miscellaneous
// ========================================================================

.hook-spinner-misc() {
  /* ========================================================================
       Component: PrKit Spinners
     ========================================================================== */

  /* Line Spinner
     ========================================================================== */
  .pr-spinner {
    position: absolute;
    display: inline-block;
  }

  .pr-spinner-line {
    display: flex;
    justify-content: space-between;
    width: @pr-spinner-line-width;
    height: @pr-spinner-line-height;
  }

  .pr-spinner-line > span {
    display: block;
    height: @pr-spinner-line-item-height;
    width: @pr-spinner-line-item-width;
    background-color: @pr-spinner-line-color;
    opacity: 0.2;
    border-radius: @pr-spinner-line-item-border-radius;
    animation: spinner-bounce @pr-spinner-line-animation-duration infinite ease-in-out;
    transform-origin: center center;
  }

  .pr-spinner-line > :nth-child(2) {
    animation-delay: 0.15s;
  }

  .pr-spinner-line :nth-child(3) {
    animation-delay: 0.3s;
  }

  @keyframes spinner-bounce {
    0%,
    100% {
      transform: scaleY(0.4);
      opacity: 0.8;
    }

    50% {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  /* Circle Spinner
     ========================================================================== */

  .pr-spinner-circle {
    height: @pr-spinner-circle-height;
    width: @pr-spinner-circle-width;
  }

  .pr-spinner-circle::before,
  .pr-spinner-circle::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: @pr-spinner-circle-item-width solid transparent;
  }

  .pr-spinner-circle::before {
    border-left-color: @pr-spinner-circle-color-fade;
    animation: pr-auth-button-rotate (@pr-spinner-line-animation-duration - 0.1s) infinite linear;
  }

  .pr-spinner-circle::after {
    border-bottom-color: @pr-spinner-circle-color;
    animation: pr-auth-button-rotate @pr-spinner-line-animation-duration infinite linear;
  }

  @keyframes pr-auth-button-rotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
