//
// Component: Utility
//
// ========================================================================

// Variables
// ========================================================================

@panel-scrollable-height:                       var(--panel-scrollable-height);
@panel-scrollable-padding:                      var(--panel-scrollable-padding);
@panel-scrollable-border-width:                 @global-border-width;
@panel-scrollable-border:                       @global-border;

@border-rounded-border-radius:                  var(--border-rounded-border-radius);

@box-shadow-duration:                           var(--box-shadow-duration);

@box-shadow-bottom-height:                      var(--box-shadow-bottom-height);
@box-shadow-bottom-bottom:                      var(--box-shadow-bottom-bottom);
@box-shadow-bottom-border-radius:               var(--box-shadow-bottom-border-radius);
@box-shadow-bottom-background:                  var(--box-shadow-bottom-background);
@box-shadow-bottom-blur:                        var(--box-shadow-bottom-blur);

@dropcap-margin-right:                          var(--dropcap-margin-right);
@dropcap-font-size:                             var(--dropcap-font-size);

@logo-font-size:                                @global-large-font-size;
@logo-font-family:                              @global-font-family;
@logo-color:                                    @global-emphasis-color;
@logo-hover-color:                              @global-emphasis-color;

@dragover-box-shadow:                           var(--dragover-box-shadow);

// Panel
// ========================================================================

.hook-panel-scrollable() {
}

// Box-shadow bottom
// ========================================================================

.hook-box-shadow-bottom() {
}

// Drop cap
// ========================================================================

.hook-dropcap() {
  // Prevent line wrap
  margin-bottom: -2px;
}

// Logo
// ========================================================================

.hook-logo() {
}

.hook-logo-hover() {
}

// Miscellaneous
// ========================================================================

.hook-utility-misc() {
  /* Border
     ========================================================================== */

  .pr-border-circle {
    border-radius: 50% !important;
  }
  .pr-border-pill {
    border-radius: 500px !important;
  }
  .pr-border-rounded {
    border-radius: @border-rounded-border-radius !important;
  }

  /* Border
     ========================================================================== */

  .pr-direction-ltr {
    direction: ltr;
  }
  .pr-direction-rtl {
    direction: rtl;
  }
}

// Inverse
// ========================================================================

@inverse-logo-color:                           @inverse-global-emphasis-color;
@inverse-logo-hover-color:                     @inverse-global-emphasis-color;

.hook-inverse-dropcap() {
}

.hook-inverse-logo() {
}
.hook-inverse-logo-hover() {
}