//
// Component: Variables
//
// ========================================================================

// ....
@uikit-less: 'uikit/src/less/components';
@font-path: '/back-office/src/fonts';

// Global main variables
// ========================================================================

//
// Component:       Variables
// Description:     Defines common values which are used across all components
//
// ========================================================================


// Load deprecated components
// ========================================================================

@deprecated:                                   false;


// Breakpoints
// ========================================================================

// Phone Portrait:   Galaxy (360x640), iPhone 6 (375x667), iPhone 6+ (414x736)
// Phone Landscape:  Galaxy (640x360), iPhone 6 (667x375), iPhone 6+ (736x414)
// Tablet Portrait:  iPad (768x1024), Galaxy Tab (800x1280),
// Tablet Landscape: iPad (1024x768), iPad Pro (1024x1366),
// Desktop:          Galaxy Tab (1280x800), iPad Pro (1366x1024)

@breakpoint-small:                             640px;  // Phone landscape
@breakpoint-medium:                            960px;  // Tablet Landscape
@breakpoint-large:                             1200px; // Desktop
@breakpoint-xlarge:                            1600px; // Large Screens

@breakpoint-xsmall-max:                        (@breakpoint-small - 1);
@breakpoint-small-max:                         (@breakpoint-medium - 1);
@breakpoint-medium-max:                        (@breakpoint-large - 1);
@breakpoint-large-max:                         (@breakpoint-xlarge - 1);


// Global variables
// ========================================================================

//
// Borders
//

@global-small-box-shadow:                       0 2px 8px rgba(0,0,0,0.08);
@global-medium-box-shadow:                      0 5px 15px rgba(0,0,0,0.08);
@global-large-box-shadow:                       0 14px 25px rgba(0,0,0,0.16);
@global-xlarge-box-shadow:                      0 28px 50px rgba(0,0,0,0.16);

//
// Controls
//

@global-control-height:                         40px;
@global-control-small-height:                   30px;
@global-control-large-height:                   55px;

//
// Z-index
//

@global-z-index:                                1000;


// Global variables
// ========================================================================

@global-sidebar-width: 368px;
@global-sidebar-height: 100vh;

//
// Typography
//

@global-font-family:
  @global-font-family-base,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  'Noto Sans',
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';
@global-font-size: 16px;
@global-line-height: 1.4; // 24px

@global-2xlarge-font-size: 2.625rem; // 42px
@global-xlarge-font-size: 2rem; // 32px
@global-large-font-size: 1.575rem; // 25px
@global-medium-font-size: 1.25rem; // 20px
@global-small-font-size: 0.875rem; // 14px
@global-xsmall-font-size: 0.8rem; // 13px
@global-xxsmall-font-size: 0.575rem; // 9px

//
// Colors
//

@global-color: #5e6b86;
@global-emphasis-color: #333;
@global-muted-color: #c2c4c9;
@global-white-color: #fdfdfd;

@global-link-color: #1e87f0;
@global-link-hover-color: #0f6ecd;

@global-inverse-color: @global-white-color;
@global-muted-inverse-color: #f8f7fb;

@global-icon-primary-color: #7d8da5;
@global-icon-secondary-color: #a5b0c0;
@global-icon-tertiary-color: #cad1db;
@global-icon-quaternary-color: #e1e5ea;
@global-icon-favourite-color: #ffde6b;

//
// Backgrounds
//

@global-background: @global-white-color;

@global-muted-background: #f0f4f7;
@global-primary-background: #2785ff;
@global-secondary-background: #161719;

@global-success-background: #6fcf96;
@global-warning-background: #fe754b;
@global-danger-background: #f0506e;

//
// Borders
//

@global-border-width: 1px;
@global-border: #ecf0f6;
@global-border-radius: 8px;
@global-border-strip-color: #e5ebf3;

//
// Spacings
//

// Used in margin, section, list
@global-margin: 20px;
@global-xsmall-margin: 5px;
@global-small-margin: 10px;
@global-medium-margin: 40px;
@global-large-margin: 70px;
@global-xlarge-margin: 140px;

@global-pr-margin-medium: @global-margin + 5px;

// Used in grid, column, container, align, card, padding
@global-gutter: 30px;
@global-xxsmall-gutter: 5px;
@global-xsmall-gutter: 12px;
@global-small-gutter: 15px;
@global-medium-gutter: 40px;
@global-large-gutter: 70px;

//
// Controls
//

@global-control-xsmall-height: 28px;

//
// Z-index
//

//
// Spinners
//
@global-spinner-width: 20px;
@global-spinner-height: @global-spinner-width;

//
// Miscellaneous
//
@global-rounded-radius: 25px;
@global-middle-transform-top: 50%;
@global-middle-transform: translate(0, -(@global-middle-transform-top));

//
// Define css variables | just like UIkit less variables
//

// ali var 1
:root {
  --size-0: 0;
  --size-1-px: 1px;
  --size-0-5: 0.125rem;
  --size-1: .25rem;
  --size-1-5: .375rem;
  --size-2: .5rem;
  --size-2-5: .625rem;
  --size-3: .75rem;
  --size-3-5: .875rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-9: 2.5rem;
  --size-12: 3rem;
}

// ali var 2
:root {
  --color-default: 255, 255, 255;
  --primary-background-lightest: 243, 248, 255;
  --primary-background-dark: 0,90,207;
  --primary-background-darktest: 0,75,172;
  --primary-color-lightest: 192, 219, 255;
  --primary-color-light: 90, 162, 255;
  --primary-color-400: 29, 127, 255;
  --primary-color: 0, 106, 243;
  --secondary-color-400: 0, 136, 211;
  --secondary-color: 0, 110, 170;
  --success-color-400: 24, 221, 199;
  --success-color: 20, 184, 166;
  --success-background-color: 218, 251, 247;
  --success-border-color: 158, 245, 235;
  --warning-color-400: 255, 134, 49;
  --warning-color: 243, 100, 0;
  --warning-background-color: 255, 215, 187;
  --warning-border-color: 255, 176, 121;
  --danger-color-400: 247, 121, 143;
  --danger-color: 244, 63, 94;
  --danger-background-color: 254, 237, 240;
  --danger-border-color: 251, 188, 199;
  --color-muted-50: 248, 250, 252;
  --color-muted-100: 241, 245, 249;
  --color-muted-200: 226, 232, 240;
  --color-muted-300: 203, 213, 225;
  --color-muted-400: 148, 163, 184;
  --color-muted-500: 100, 116, 139;
  --color-muted-600: 71, 85, 105;
  --color-muted-700: 51, 65, 85;
  --color-muted-800: 30, 41, 59;
  --default-text-color: 70, 73, 100;
  --text-color-600: 71, 85, 105;
  --border-rounded-none: var(--size-0);
  --border-rounded-sm: var(--size-1);
  --border-rounded-md: var(--size-1-5);
  --border-rounded-lg: var(--size-2);
  --border-rounded-xl: var(--size-3);
  --border-pill: 9999px;
  --transition-duration-100: .1s;
  --transition-duration-200: .2s;
  --transition-duration-300: .3s;
}

// UIkit global vars
:root {
  --global-sidebar-width: 368px;
  --global-sidebar-height: 100vh;

  --global-font-size: 16px;
  --global-line-height: 1.4; // 24px

  --global-2xlarge-font-size: 2.625rem; // 42px
  --global-xlarge-font-size: 2rem; // 32px
  --global-large-font-size: 1.575rem; // 25px
  --global-medium-font-size: 1.25rem; // 20px
  --global-small-font-size: 0.875rem; // 14px
  --global-xsmall-font-size: 0.8rem; // 13px
  --global-xxsmall-font-size: 0.575rem; // 9px

  //
  // Colors
  //

  --global-color: #5e6b86;
  --global-emphasis-color: #333;
  --global-muted-color: #c2c4c9;
  --global-white-color: #fdfdfd;

  --global-link-color: #1e87f0;
  --global-link-hover-color: #0f6ecd;

  --global-inverse-color: @global-white-color;
  --global-muted-inverse-color: #f8f7fb;

  --global-icon-primary-color: #7d8da5;
  --global-icon-secondary-color: #a5b0c0;
  --global-icon-tertiary-color: #cad1db;
  --global-icon-quaternary-color: #e1e5ea;
  --global-icon-favourite-color: #ffde6b;

  //
  // Backgrounds
  //

  --global-background: @global-white-color;

  --global-muted-background: #f0f4f7;
  --global-primary-background: #2785ff;
  --global-secondary-background: #161719;

  --global-success-background: #6fcf96;
  --global-warning-background: #fe754b;
  --global-danger-background: #f0506e;

  //
  // Borders
  //

  --global-border-width: 1px;
  --global-border: #ecf0f6;
  --global-border-radius: 8px;
  --global-border-strip-color: #e5ebf3;

  //
  // Spacings
  //

  // Used in margin, section, list
  --global-margin: 20px;
  --global-xsmall-margin: 5px;
  --global-small-margin: 10px;
  --global-medium-margin: 40px;
  --global-large-margin: 70px;
  --global-xlarge-margin: 140px;

  --global-pr-margin-medium: @global-margin + 5px;

  // Used in grid, column, container, align, card, padding
  --global-gutter: 30px;
  --global-xxsmall-gutter: 5px;
  --global-xsmall-gutter: 12px;
  --global-small-gutter: 15px;
  --global-medium-gutter: 40px;
  --global-large-gutter: 70px;

  //
  // Controls
  //

  --global-control-xsmall-height: 28px;

  //
  // Z-index
  //

  //
  // Spinners
  //
  --global-spinner-width: 20px;
  --global-spinner-height: @global-spinner-width;

  //
  // Miscellaneous
  //
  --global-rounded-radius: 25px;
  --global-middle-transform-top: 50%;
  --global-middle-transform: translate(0, -(@global-middle-transform-top));
}

// Pr vars
:root {
  // line-height
  --pr-line-height-1-1: 1.1;
  --pr-line-height-1-2: 1.2;
  --pr-line-height-1-3: 1.3;
  --pr-line-height-1-4: 1.4;
  --pr-line-height-1-5: 1.5;

  // opacity
  --pr-opacity-1: 0.1;
  --pr-opacity-2: 0.2;
  --pr-opacity-3: 0.3;
  --pr-opacity-4: 0.4;
  --pr-opacity-5: 0.5;
  --pr-opacity-6: 0.6;
  --pr-opacity-7: 0.7;
  --pr-opacity-8: 0.8;
  --pr-opacity-9: 0.9;
  --pr-opacity-10: 1;

  // duration
  --pr-duration-01: 0.1s;
  --pr-duration-05: 0.5s;
  --pr-duration-08: 0.8s;
  --pr-duration-1: 1s;
  --pr-duration-1-5: 1.5s;
  --pr-duration-2: 2s;
  --pr-duration-15: 15s;

  // border-radius
  --pr-border-radius-500: 500px;

  // font-size
  --pr-font-size-11: 11px;

  // font-weight
  --pr-font-weight-100: 100;
  --pr-font-weight-300: 300;
  --pr-font-weight-600: 600;
  --pr-font-weight-bold: bold;
  --pr-font-weight-bolder: bolder;
}

// UIkit component vars
:root {
  // Accordion
  --accordion-line-height: var(--pr-line-height-1-4);
  --accordion-icon-margin-left: var(--global-small-margin);

  // Alert
  --alert-padding: var(--global-small-gutter);
  --alert-padding-right: var(--alert-padding) + 14px;
  --alert-close-top: var(--alert-padding) + 5px;
  --alert-primary-background: lighten(tint(@global-primary-background, 40%), 20%);
  --alert-sucess-background: lighten(tint(@global-success-background, 40%), 25%);
  --alert-warning-background: lighten(tint(@global-warning-background, 45%), 15%);
  --alert-danger-background: lighten(tint(@global-danger-background, 40%), 20%);
  --alert-close-opacity: var(--pr-opacity-4);
  --alert-close-hover-opacity: var(--pr-opacity-8);

  // Animation
  --animation-duration: var(--pr-duration-05);
  --animation-fade-duration: var(--pr-duration-08);
  --animation-stroke-duration: var(--pr-duration-2);
  --animation-kenburns-duration: var(--pr-duration-15);
  --animation-fast-duration: var(--pr-duration-01);
  --animation-slide-small-translate: 10px;
  --animation-slide-medium-translate: 50px;

  // Article
  --article-title-line-height: var(--pr-line-height-1-2);
  --article-meta-line-height: var(--pr-line-height-1-4);
  --article-title-font-size: calc(@global-2xlarge-font-size-var * 0.85);

  // Badge
  --badge-size: 18px;
  --badge-padding-vertical: 0;
  --badge-padding-horizontal: @global-xxsmall-gutter-var;
  --badge-border-radius: var(--pr-border-radius-500);
  --badge-font-size: var(--pr-font-size-11);

  // Base
  --base-link-text-decoration: none;
  --base-link-hover-text-decoration: underline;

  --base-strong-font-weight: bolder;

  --base-ins-background: #ffd;
  --base-mark-background: #ffd;
  --base-quote-font-style: italic;
  --base-small-font-size: 80%;

  --base-heading-font-family: @global-font-family;
  --base-heading-font-weight: normal;
  --base-heading-text-transform: none;
  --base-h1-font-size-m: @global-2xlarge-font-size-var;
  --base-h1-font-size: @global-2xlarge-font-size * 0.85;
  --base-h1-line-height: var(--pr-line-height-1-2);
  --base-h2-font-size-m: @global-xlarge-font-size-var;
  --base-h2-font-size: @global-xlarge-font-size * 0.85;
  --base-h2-line-height: var(--pr-line-height-1-3);
  --base-h3-font-size: @global-large-font-size-var;
  --base-h3-line-height: var(--pr-line-height-1-3);
  --base-h4-font-size: @global-medium-font-size-var;
  --base-h4-line-height: var(--pr-line-height-1-4);
  --base-h5-font-size: @global-font-size-var;
  --base-h5-line-height: var(--pr-line-height-1-4);
  --base-h6-font-size: @global-small-font-size-var;
  --base-h6-line-height: var(--pr-line-height-1-4);

  --base-list-padding-left: @global-gutter;

  --base-blockquote-font-size: @global-medium-font-size-var;
  --base-blockquote-line-height: var(--pr-line-height-1-5);
  --base-blockquote-footer-font-size: @global-small-font-size-var;
  --base-blockquote-footer-line-height: var(--pr-line-height-1-5);

  --base-pre-font-size: @global-small-font-size-var;
  --base-pre-line-height: var(--pr-line-height-1-5);

  --base-focus-outline-width: 2px;
  --base-focus-outline-style: dotted;
  --base-focus-outline: @global-emphasis-color-var;
  --base-focus-outline-offset: 1px;

  --base-selection-background: #39f;
  --base-selection-color: @global-inverse-color-var;

  --base-code-padding-horizontal: 6px;
  --base-code-padding-vertical: 2px;
  --base-pre-padding: 10px;
  --base-pre-border-radius: 3px;

  // Breadcrumb
  --breadcrumb-divider: "/";
  --breadcrumb-divider-margin-horizontal: @global-margin;
}

//
// Define new variables | must replace with less variable of UIkit
//
@global-sidebar-width-var: var(--global-sidebar-width);
@global-sidebar-height-var: var(--global-sidebar-height);

@global-font-size-var: var(--global-font-size);
@global-line-height-var: var(--global-line-height);

@global-2xlarge-font-size-var: var(--global-2xlarge-font-size);
@global-xlarge-font-size-var: var(--global-xlarge-font-size);
@global-large-font-size-var: var(--global-large-font-size);
@global-medium-font-size-var: var(--global-medium-font-size);
@global-small-font-size-var: var(--global-small-font-size);
@global-xsmall-font-size-var: var(--global-xsmall-font-size);
@global-xxsmall-font-size-var: var(--global-xxsmall-font-size);

//
// Colors
//

@global-color-var: var(--global-color);
@global-emphasis-color-var: var(--global-emphasis-color);
@global-muted-color-var: var(--global-muted-color);
@global-white-color-var: var(--global-white-color);

@global-link-color-var: var(--global-link-color);
@global-link-hover-color-var: var(--global-link-hover-color);

@global-inverse-color-var: @global-white-color-var;
@global-muted-inverse-color-var: var(--global-muted-inverse-color);

@global-icon-primary-color-var: var(--global-icon-primary-color);
@global-icon-secondary-color-var: var(--global-icon-secondary-color);
@global-icon-tertiary-color-var: var(--global-icon-tertiary-color);
@global-icon-quaternary-color-var: var(--global-icon-quaternary-color);
@global-icon-favourite-color-var: var(--global-icon-favourite-color);

//
// Backgrounds
//

@global-background-var: @global-white-color-var;

@global-muted-background-var: var(--global-muted-background);
@global-primary-background-var: var(--global-primary-background);
@global-secondary-background-var: var(--global-secondary-background);

@global-success-background-var: var(--global-success-background);
@global-warning-background-var: var(--global-warning-background);
@global-danger-background-var: var(--global-danger-background);

//
// Borders
//

@global-border-width-var: var(--global-border-width);
@global-border-var: var(--global-border);
@global-border-radius-var: var(--global-border-radius);
@global-border-strip-color-var: var(--global-border-strip-color);

//
// Spacings
//

// Used in margin, section, list
@global-margin-var: var(--global-margin);
@global-xsmall-margin-var: var(--global-xsmall-margin);
@global-small-margin-var: var(--global-small-margin);
@global-medium-margin-var: var(--global-medium-margin);
@global-large-margin-var: var(--global-large-margin);
@global-xlarge-margin-var: var(--global-xlarge-margin);

@global-pr-margin-medium-var: var(--global-pr-margin-medium);

// Used in grid, column, container, align, card, padding
@global-gutter-var: var(--global-gutter);
@global-xxsmall-gutter-var: var(--global-xxsmall-gutter);
@global-xsmall-gutter-var: var(--global-xsmall-gutter);
@global-small-gutter-var: var(--global-small-gutter);
@global-medium-gutter-var: var(--global-medium-gutter);
@global-large-gutter-var: var(--global-large-gutter);

//
// Controls
//

@global-control-xsmall-height-var: var(--global-control-xsmall-height);

//
// Z-index
//

//
// Spinners
//
@global-spinner-width-var: var(--global-spinner-width);
@global-spinner-height-var: @global-spinner-width-var;

//
// Miscellaneous
//
@global-rounded-radius-var: var(--global-rounded-radius);
@global-middle-transform-top-var: var(--global-middle-transform-top);
@global-middle-transform-var: var(--global-middle-transform);

//
// Pr Vars
//
@pr-line-height-1-4: var(--pr-line-height-1-4);

//
// Component vars
//

// Accordion
@accordion-line-height-var: var(--accordion-line-height);
@accordion-icon-margin-left-var: var(--accordion-icon-margin-left);

// Alert
@alert-padding-var: var(--alert-padding);
@alert-padding-right-var: var(--alert-padding-right);
@alert-close-top-var: var(--alert-close-top);
@alert-primary-background-var: var(--alert-primary-background);
@alert-success-background-var: var(--alert-primary-background);
@alert-warning-background-var: var(--alert-primary-background);
@alert-danger-background-var: var(--alert-primary-background);
@alert-close-opacity-var: var(--alert-close-opacity);
@alert-close-hover-opacity-var: var(--alert-close-hover-opacity);

// Animation
@animation-duration-var: var(--animation-duration);
@animation-fade-duration-var: var(--animation-fade-duration);
@animation-stroke-duration-var: var(--animation-stroke-duration);
@animation-kenburns-duration-var: var(--animation-kenburns-duration);
@animation-fast-duration-var: var(--animation-fast-duration);
@animation-slide-small-translate-var: var(--animation-slide-small-translate);
@animation-slide-medium-translate-var: var(--animation-slide-medium-translate);

// Article
@article-title-line-height-var: var(--article-title-line-height);
@article-meta-line-height-var: var(--article-meta-line-height);
@article-title-font-size-var: var(--article-title-font-size);

// Badge
@badge-size-var: var(--badge-size);
@badge-padding-vertical-var: var(--badge-padding-vertical);
@badge-padding-horizontal-var: var(--badge-padding-horizontal);
@badge-border-radius-var: var(--badge-border-radius);
@badge-font-size-var: var(--badge-font-size);

// Base
@base-link-text-decoration-var: var(--base-link-text-decoration);
@base-link-hover-text-decoration-var: var(--base-link-hover-text-decoration);

@base-strong-font-weight-var: var(--base-strong-font-weight);

@base-ins-background-var: var(--base-ins-background);
@base-mark-background-var: var(--base-mark-background);
@base-quote-font-style-var: var(--base-quote-font-style);
@base-small-font-size-var: var(--base-small-font-size);

@base-heading-font-family-var: var(--base-heading-font-family);
@base-heading-font-weight-var: var(--base-heading-font-weight);
@base-heading-text-transform-var: var(--base-heading-text-transform);
@base-h1-font-size-m-var: var(--base-h1-font-size-m);
@base-h1-font-size-var: var(--base-h1-font-size);
@base-h1-line-height-var: var(--base-h1-line-height);
@base-h2-font-size-m-var: var(--base-h2-font-size-m);
@base-h2-font-size-var: var(--base-h2-font-size);
@base-h2-line-height-var: var(--base-h2-line-height);
@base-h3-font-size-var: var(--base-h3-font-size);
@base-h3-line-height-var: var(--base-h3-line-height);
@base-h4-font-size-var: var(--base-h4-font-size);
@base-h4-line-height-var: var(--base-h4-line-height);
@base-h5-font-size-var: var(--base-h5-font-size);
@base-h5-line-height-var: var(--base-h5-line-height);
@base-h6-font-size-var: var(--base-h6-font-size);
@base-h6-line-height-var: var(--base-h6-line-height);

@base-list-padding-left-var: var(--base-list-padding-left);

@base-blockquote-font-size-var: var(--base-blockquote-font-size);
@base-blockquote-line-height-var: var(--base-blockquote-line-height);
@base-blockquote-footer-font-size-var: var(--base-blockquote-footer-font-size);
@base-blockquote-footer-line-height-var: var(--base-blockquote-footer-line-height);

@base-pre-font-size-var: var(--base-pre-font-size);
@base-pre-line-height-var: var(--base-pre-line-height);

@base-focus-outline-width-var: var(--base-focus-outline-width);
@base-focus-outline-style-var: var(--base-focus-outline-style);
@base-focus-outline-var: var(--base-focus-outline);
@base-focus-outline-offset-var: var(--base-focus-outline-offset);

@base-selection-background-var: var(--base-selection-background);
@base-selection-color-var: var(--base-selection-color);

@base-code-padding-horizontal-var: var(--base-code-padding-horizontal);
@base-code-padding-vertical-var: var(--base-code-padding-vertical);
@base-pre-padding-var: var(--base-pre-padding);
@base-pre-border-radius-var: var(--base-pre-border-radius);

// Breadcrumb
@breadcrumb-divider: var(--breadcrumb-divider);
@breadcrumb-divider-margin-horizontal-var: var(--breadcrumb-divider-margin-horizontal);
