//
// Component:       Less Variables
// Description:     Defines Less Variables
//
// ========================================================================

// Miscellaneous Variables
@uikit-less: 'uikit/src/less/components';
@font-path: '/back-office/src/fonts';


//
// Less Variables
//
// ========================================================================


// Load deprecated components
// ========================================================================

@deprecated:                                   false;


// Breakpoints
// ========================================================================

// Phone Portrait:   Galaxy (360x640), iPhone 6 (375x667), iPhone 6+ (414x736)
// Phone Landscape:  Galaxy (640x360), iPhone 6 (667x375), iPhone 6+ (736x414)
// Tablet Portrait:  iPad (768x1024), Galaxy Tab (800x1280),
// Tablet Landscape: iPad (1024x768), iPad Pro (1024x1366),
// Desktop:          Galaxy Tab (1280x800), iPad Pro (1366x1024)

@breakpoint-small:                             640px;  // Phone landscape
@breakpoint-medium:                            960px;  // Tablet Landscape
@breakpoint-large:                             1200px; // Desktop
@breakpoint-xlarge:                            1600px; // Large Screens

@breakpoint-xsmall-max:                        (@breakpoint-small - 1);
@breakpoint-small-max:                         (@breakpoint-medium - 1);
@breakpoint-medium-max:                        (@breakpoint-large - 1);
@breakpoint-large-max:                         (@breakpoint-xlarge - 1);


// UIKit Global variables
// ========================================================================

//
// Typography
//

@global-font-family:
  @global-font-family-base,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  'Noto Sans',
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';
@global-font-size: var(--global-font-size);
@global-line-height: var(--global-line-height);

@global-2xlarge-font-size: var(--global-2xlarge-font-size);
@global-xlarge-font-size: var(--global-xlarge-font-size);
@global-large-font-size: var(--global-large-font-size);
@global-medium-font-size: var(--global-medium-font-size);
@global-small-font-size: var(--global-small-font-size);
@global-xsmall-font-size: var(--global-xsmall-font-size);
@global-xxsmall-font-size: var(--global-xxsmall-font-size);

//
// Colors
//

@global-color: var(--global-color);
@global-emphasis-color: var(--global-emphasis-color);
@global-muted-color: var(--global-muted-color);
@global-white-color: var(--global-white-color);

@global-link-color: var(--global-link-color);
@global-link-hover-color: var(--global-link-hover-color);

@global-inverse-color: var(--global-inverse-color);
@global-muted-inverse-color: var(--global-muted-inverse-color);

@global-icon-primary-color: var(--global-icon-primary-color);
@global-icon-secondary-color: var(--global-icon-secondary-color);
@global-icon-tertiary-color: var(--global-icon-tertiary-color);
@global-icon-quaternary-color: var(--global-icon-quaternary-color);

@global-icon-duotone-primary-color: var(--global-icon-duotone-primary-color);
@global-icon-duotone-secondary-color: var(--global-icon-duotone-secondary-color);
@global-icon-duotone-secondary-opacity: var(--global-icon-duotone-secondary-opacity);

@global-icon-bulk-primary-color: var(--global-icon-bulk-primary-color);
@global-icon-bulk-secondary-color: var(--global-icon-bulk-secondary-color);
@global-icon-bulk-secondary-opacity: var(--global-icon-bulk-secondary-opacity);

@global-icon-favourite-color: var(--global-icon-favourite-color);

//
// Backgrounds
//

@global-background: var(--global-white-color);

@global-muted-background: var(--global-muted-background);
@global-primary-background: var(--global-primary-background);
@global-secondary-background: var(--global-secondary-background);

@global-success-background: var(--global-success-background);
@global-warning-background: var(--global-warning-background);
@global-danger-background: var(--global-danger-background);

//
// Borders
//

@global-border-width: var(--global-border-width);
@global-border: var(--global-border);
@global-border-radius: var(--global-border-radius);
@global-border-strip-color: var(--global-border-strip-color);

//
// Box-Shadows
//

@global-small-box-shadow: var(--global-small-box-shadow);
@global-medium-box-shadow: var(--global-medium-box-shadow);
@global-large-box-shadow: var(--global-large-box-shadow);
@global-xlarge-box-shadow: var(--global-xlarge-box-shadow);

//
// Spacings
//

// Used in margin, section, list
@global-margin: var(--global-margin);
@global-xsmall-margin: var(--global-xsmall-margin);
@global-small-margin: var(--global-small-margin);
@global-medium-margin: var(--global-medium-margin);
@global-large-margin: var(--global-large-margin);
@global-xlarge-margin: var(--global-xlarge-margin);

@global-pr-margin-medium: var(--global-pr-margin-medium);

// Used in grid, column, container, align, card, padding
@global-gutter: var(--global-gutter);
@global-xxsmall-gutter: var(--global-xxsmall-gutter);
@global-xsmall-gutter: var(--global-xsmall-gutter);
@global-small-gutter: var(--global-small-gutter);
@global-medium-gutter: var(--global-medium-gutter);
@global-large-gutter: var(--global-large-gutter);

//
// Controls
//

@global-control-xsmall-height: var(--global-control-xsmall-height);

@global-control-height: var(--global-control-height);
@global-control-small-height: var(--global-control-small-height);
@global-control-large-height: var(--global-control-large-height);

//
// Z-index
//

@global-z-index: var(--global-z-index);

//
// Miscellaneous
//

@global-rounded-radius: var(--global-rounded-radius);
@global-middle-transform-top: var(--global-middle-transform-top);
@global-middle-transform: var(--global-middle-transform);


// PRKit Global variables
// ========================================================================

//
// Sidebar
//

@global-sidebar-width: var(--global-sidebar-width);
@global-sidebar-height: var(--global-sidebar-height);

//
// Spinners
//

@global-spinner-width: var(--global-spinner-width);
@global-spinner-height: var(--global-spinner-height);