//
// Component: Utility
//
// ========================================================================

@use 'variables' as *;

// Variables
// ========================================================================

$panel-scrollable-height:                       170px;
$panel-scrollable-padding:                      10px;
$panel-scrollable-border-width:                 $global-border-width;
$panel-scrollable-border:                       $global-border;

$border-rounded-border-radius:                  5px;

$box-shadow-duration:                           0.1s;

$box-shadow-bottom-height:                      30px;
$box-shadow-bottom-bottom:                      -$box-shadow-bottom-height;
$box-shadow-bottom-border-radius:               100%;
$box-shadow-bottom-background:                  #444;
$box-shadow-bottom-blur:                        20px;

$dropcap-margin-right:                          10px;
$dropcap-font-size:                             (($global-line-height * 3) * 1em);

$logo-font-size:                                $global-large-font-size;
$logo-font-family:                              $global-font-family;
$logo-color:                                    $global-emphasis-color;
$logo-hover-color:                              $global-emphasis-color;

$dragover-box-shadow:                           0 0 20px rgba(100,100,100,0.3);


// Panel
// ========================================================================

// @mixin hook-panel-scrollable(){}


// Box-shadow bottom
// ========================================================================

// @mixin hook-box-shadow-bottom(){}


// Drop cap
// ========================================================================




// Logo
// ========================================================================

// @mixin hook-logo(){}

// @mixin hook-logo-hover(){}


// Miscellaneous
// ========================================================================

@mixin hook-utility-misc() {
  /* Border
     ========================================================================== */

  .pr-border-circle {
    border-radius: 50% !important;
  }
  .pr-border-pill {
    border-radius: 500px !important;
  }
  .pr-border-rounded {
    border-radius: $border-rounded-border-radius !important;
  }

  /* Border
     ========================================================================== */

  .pr-direction-ltr {
    direction: ltr;
  }
  .pr-direction-rtl {
    direction: rtl;
  }
}

// @mixin hook-utility-misc(){}


// Inverse
// ========================================================================

// @mixin hook-inverse-dropcap(){}

// @mixin hook-inverse-logo(){}
// @mixin hook-inverse-logo-hover(){}
